@mixin breakpoint($bp) {
    
    @media (max-width: $bp) {
        @content;
    }

}

@mixin make-container($width) {
    max-width: $width;
    padding: 0 15px;

    margin-right: auto;
    margin-left: auto;
}

@mixin font-face($font-family, $url, $weight, $font-style) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../fonts/#{$url}.woff2') format('woff2'),
        url('../fonts/#{$url}.woff') format('woff');
        font-weight: #{$weight};
        font-display: swap;
        font-style: $font-style;
    }
}