@import "vars";
@import "mixins";

html { scroll-behavior: smooth }

body {
    font-weight: 400;
    font-size: 20px;
    font-family: 'GothamPro', sans-serif;
    
    min-width: 320px;
    overflow: auto;

    color: $mattBlack;
}

.m-hidden {
    overflow: hidden;
}

.m-open {
    overflow: hidden;

    .page {
        overflow: hidden;
    }

    .header {
        position: fixed;
        top: 0;

        .header__container {
            background-color: white;
            .header__nav-logo {
                .logo-dark { display: block }
                .logo-light { display: none }

                @media (max-width: 575px) {
                    .logo-dark { display: none }
                    .logo-big { display: block }
                }
            }
            .burger { --lines-color: #151515 }
            .lang-switcher {
                span { color: $mattBlack }
                svg { fill: $mattBlack }
            }
        }
    }

    .menu { transform: translateX(0) }
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/resources.scss";
@import "./blocks/preview.scss";
@import "./blocks/retail.scss";
@import "./blocks/about.scss";
@import "./blocks/products.scss";
@import "./blocks/conditions.scss";
@import "./blocks/stores.scss";
@import "./blocks/partners.scss";
@import "./blocks/become-partner.scss";
@import "./blocks/lang-switcher.scss";
@import "./blocks/policy.scss";
@import "./blocks/burger.scss";
@import "./blocks/menu.scss";
@import "./blocks/modal.scss";
@import "./blocks/contact-form.scss";
@import "./blocks/select-box.scss";
@import "./blocks/arrows.scss";
@import "./blocks/cookies.scss";