<section class="cookies">
    <div class="cookies__container">
        <h4>
            Этот сайт использует файлы cookie для хранения данных. Продолжая использовать сайт, вы даёте своё согласие на работу с этими файлами. Для получения дополнительной информации, пожалуйста, ознакомьтесь с нашей 
            <a href="./policy.html">Политикой обработки персональных данных.</a> 
        </h4>
        <button id="cookiesBtn" class="cookies__btn g-blue-btn" type="button">Согласен</button>
    </div>
</section>