<div class="modal modal--form-regular">
    <div class="modal__container">
        <button class="modal-close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeIcon"></use></svg></button>
        <h2 class="modal-title">Создать украинскую полку</h2>
        <section class="contact-form contact-form--modal">
            <div class="contact-form__container">
                <form id="contactForm" class="contact-form__wrapper-form" action="/">
                    <header>
                        <div class="g-input">
                            <input autocomplete="off" type="text" data-validate-field="name" placeholder="Имя" required>
                        </div>
                        <div class="g-input">
                            <input autocomplete="off" type="text" data-validate-field="surname" placeholder="Фамилия" required>
                        </div>
                        <div class="g-input">
                            <input autocomplete="off" type="text" data-validate-field="org" placeholder="Организация" required>
                        </div>
                        <div class="g-input">
                            <input autocomplete="off" type="text" data-validate-field="social" placeholder="Сайт или инстаграм" required>
                        </div>
                        <div class="g-input">
                            <input autocomplete="off" type="email" data-validate-field="mail" placeholder="E-mail" required>
                        </div>
                        <div class="g-input">
                            <input autocomplete="off" type="tel" data-validate-field="tel" placeholder="Телефон" required>
                        </div>
                        <div class="g-input">
                            <input autocomplete="off" type="text" data-validate-field="country" placeholder="Страна" required>
                        </div>
                    </header>
    
                    <footer>
                        <div class="contact-form__wrapper-form-policy">
                            <input id="policyCheckboxRegular" type="checkbox" data-validate-field="checkbox">
                            <label for="policyCheckboxRegular" id="policyCheckboxRegularWrapper">
                                <p>Даю согласие на обработку данных согласно <a href="./policy.html">политике</a></p>
                            </label>
                          </div>
                        <button class="contact-form-submit g-btn" type="submit">ПОДАТЬ ЗАЯВКУ</button>
                    </footer>
                </form>
            </div>
        </section>
    </div>
</div>