.about {
    width: 100%;
    margin-bottom: 130px;

    @media (max-width: 768px) {
        margin-bottom: 44px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: initial;

        @media (max-width: 1100px) { flex-direction: column }
        @media (max-width: 768px) { flex-direction: column-reverse }
    }

    &__image {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 538px;
        height: 472px;

        min-height: 259px;

        @media (max-width: 1100px) {
            width: 85%;
            height: 70vw;

            max-width: 600px;
            max-height: 526px;

            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            margin-bottom: 0;

            width: 100%;
            height: 78vw;

            max-width: none;
            max-height: none;
        }

        @media (max-width: 450px) {
            height: 81vw;
        }

        img {
            width: auto;
            height: auto;

            max-width: 100%;

            position: absolute;
            top: 0;bottom: 0;
            right: 0;left: 0;
        }

        span {
            background-color: $yellow;
            display: flex;
            align-items: center;
            justify-content: center;

            height: fit-content;
            padding: 10px 30px;

            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            line-height: 160%;

            z-index: 5;
            border-radius: 20px;

            margin: 0 0 55px auto;

            &:not(:last-child) {
                margin: auto 38px 12px 0;
                max-width: 497px;
                width: 100%;
                
                box-sizing: border-box;

                @media (max-width: 600px) {
                    margin: auto 0 12px 0;
                    max-width: none;
                }
            }

            @media (max-width: 600px) {
                width: 100%;
                box-sizing: border-box;
            }

            @media (max-width: 575px) {
                font-size: 14px;
                margin: 0 0 25px auto;
            }

            @media (max-width: 450px) {
                font-size: 12px;
            }

            @media (max-width: 375px) {
                font-size: 10px;
            }
        }
    }

    &__info {
        width: fit-content;
        max-width: 445px;

        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            max-width: 535px;
            margin-bottom: 44px;
        }

        h2 {
            margin-bottom: 40px;
            line-height: 160%;

            @media (max-width: 450px) {
                margin-bottom: 15px;
            }
        }
        
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;

            margin-bottom: 27px;

            @media (max-width: 768px) { margin-bottom: 0 }
            @media (max-width: 450px) {
                font-size: 14px;
            }
        }

        img {
            width: auto;
            margin-left: auto;

            @media (max-width: 768px) { display: none }
        }
    }

    &__thought {
        &--mb {
            display: none;
            width: auto;
            margin-left: auto;

            margin: 44px auto 0;

            @media (max-width: 768px) {
                display: block;
            }
        }
    }
}