.lang-switcher {
    position: relative;
    z-index: 100;
    width: 70px;

    @media (max-width: 1024px) { 
        margin-right: 46px;
        margin-left: auto;
    }

    @media (max-width: 575px) {
        margin-right: 20px;
    }

    main {
        display: flex;
        align-items: center;
        cursor: default;

        svg {
            width: 24px;
            height: 24px;

            transition: .4s;
            margin-right: 10px;
            fill: white;
            
            @media (max-width: 768px) { fill: $mattBlack }
        }

        span {
            color: white;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            transition: .4s;
            
            @media (max-width: 768px) { color: $mattBlack }
        }
    }

    form {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: -4px;
        right: -6px;

        padding: 4px 0;
        overflow: hidden;
        transition: .4s;

        display: none;
        width: 48px;
        height: fit-content;
        
        overflow: hidden;

        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        a {
            background-color: transparent;

            font-size: 16px;
            font-weight: 700;
            line-height: 150%;

            color: $londonRain;
            text-align: center;
            transition: .4s;

            width: 100%;
            max-width: 48px;
            height: fit-content;

            border-radius: 0 !important;
            appearance: none;
            -webkit-appearance: none;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                color: white;
                background-color: $londonRain;

                &:hover { color: white }
            }

            &:hover { color: $franceBlue }
        }
    }

    &:hover {
        form {
            display: flex;
        }
    }

    &--hidded {
        &:hover {
            form {
                display: none;
            }
        }
    }
}