.retail {
    background-image: url('./../images/svg/retail-bg.svg');
    background-size: 2700px 1077px;
    background-position: 50% center;

    height: 1077px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;

    margin-bottom: 70px;

    h2 {
        text-align: center;
        margin-bottom: 40px;
        color: white;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        grid-gap: 30px;

        li {
            background-color: $franceBlue;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
            border-radius: 30px;

            padding: 40px;

            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                width: auto;
                height: 80px;
                
                margin-bottom: 32px;
            }

            p {
                font-size: 16px;
                font-weight: 700;
                line-height: 160%;

                color: white;
                text-align: center;

                a {
                    color: #FFD700;
                    transition: .4s;
                    cursor: pointer;

                    &:hover {
                        color: #D9B700;
                    }
                }
            }
        }
    }

    &--manufacturers {
        background-image: url('./../images/svg/retail-bg--manufactures.svg');
        background-size: 2800px 977px;
        height: 977px;
        
        margin-bottom: 110px;
        
        h2 { color: $mattBlack }

        ul {
            li {
                background-color: #FFDA58;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

                p {
                    color: $mattBlack;
                    a {
                        color: $franceBlue;
                        &:hover { color: #0c53a5 }
                    }
                }
            }
        }
    }
}