<footer class="footer">
    <div class="footer__container container__1110px">
        <div class="footer__item">
            <img src="./assets/images/svg/best-seller-group.svg" alt="image">
            <main>
                <p>
                    Service Provider: <br>
                    BS EUROPE OU<br>
                    K. Kärberi tn 16-33, Lasnamäe linnaosa, Tallinn, Harju maakond, 13812
                </p>
                <p>
                    Part of <b><a href="#">Bestseller.company</a></b><br>
                    <small><a href="#">EU</a></small>
                    <small><a href="#">USA</a></small>
                    <small><a href="#">UA</a></small>
                    <small><a href="#">RU</a></small>
                    <small><a href="#">KZ</a></small>
                    <small><a href="#">BY</a></small>
                    <small><a href="#">CHI</a></small>
                </p>
            </main>
        </div>

        <div class="footer__wrapper">
            <div class="footer__item">
                <img src="./assets/images/svg/best-seller-fund.svg" alt="image">
                <main>
                    <p>
                        <a href="#">FoodTechShelf.com</a> - Innovative food and drink from around the world <br>
                        by <a href="#">Bestseller.Fund</a> - “Unicorn” FoodTech investments
                    </p>
                </main>
            </div>
            <div class="footer__item">
                <img src="./assets/images/svg/vito-house.svg" alt="image">
                <main>
                    <p>
                        <a href="#">Vito.House</a> - International ingredient trading platform №1 <br>
                        by <a href="#">Vito-House.com</a> - more than 20 000 products from more than 300 manufactures
                    </p>
                </main>
            </div>
        </div>
    </div>
</footer>