.header {
    position: absolute;
    overflow: initial;
    top: 0;

    z-index: 50;
    width: 100%;
    transition: .4s;

    position: fixed;
    top: 0;

    @media (max-width: 768px) { box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25) }

    &--floating {
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.25);
        background-color: white;

        .header__nav {
            ul {
                a { color: $mattBlack }
            }

            &-logo {
                .logo-dark { display: block }
                .logo-light { display: none }
    
                @media (max-width: 575px) {
                    .logo-dark { display: none }
                    .logo-big { display: block }
                }
            }
        }
        .burger { --lines-color: #151515 }
        .lang-switcher {
            span { color: $mattBlack }
            svg { fill: $mattBlack }
        }
    }

    &__container {
        width: calc(100% - 66px);
        z-index: 75;
        @media (max-width: 768px) { background-color: white }
        @media (max-width: 450px) { width: calc(100% - 30px) }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 20px 0;

        &-logo {
            .logo-dark {
                display: none;
                @media (max-width: 768px) { display: block }
                @media (max-width: 575px) { display: none }
            }
            .logo-light {
                display: block;
                @media (max-width: 768px) { display: none }
                @media (max-width: 575px) { display: none }
            }
            .logo-big {
                width: 132px;
                height: 48px;

                display: none;
                @media (max-width: 575px) { display: block }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;

            width: 100%;
            max-width: 571px;

            @media (max-width: 1024px) { display: none }

            a {
                color: white;
                font-size: 14px;

                &:hover { font-weight: 700 }

                @media (max-width: 768px) { 
                    color: $mattBlack;
                }
            }
        }
    }
}