<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>
<body class="">
    
    {{> header }}

    <div id="page" class="page">
    
        {{> body }}
    
        {{> footer }}
        
    </div>
    
    {{> modal-form }}
    
    {{> modal-form-regular }}
    
    {{> modal-succes }}

    {{> cookies }}
    
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>
